<!doctype html>

<html>
<head>
	<title>takes</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div>
	<form method="post" action="/takes">
		<fieldset>
			<legend>Enroll student in class:</legend>
			<p>Student Name: <select name="student"></p>			
				{{#each students}}
					<option value="{{student_id}}">{{name}}</option>
				{{/each}}
			</select>
			
			<p>Course Name: <select name="course"></p>			
				{{#each courses}}
					<option value="{{class_id}}">{{course}}</option>
				{{/each}}
			</select>
			
			<p><input type="submit" name ="add" value="Submit"/></p>
		 </fieldset>
	</form>
</div>

<div>
	<form method="post" action="/takes/delete">
		<fieldset>
			<legend>Withdraw student from a class:</legend>
			
			<p>Student Name: <select name="student"></p>
				{{#each students}}
					<option value="{{student_id}}">{{name}}</option>
				{{/each}}
			</select> 
			
			<p>Course Name: <select name="course"></p>
				{{#each courses}}
					<option value="{{class_id}}">{{course}}</option>
				{{/each}}
			</select>
			
			<p><input type="submit" value="Submit"></p>
		</fieldset>
	</form>
</div>

<div>
	<h3>Class Load:</h3>
	<table border="1">
		<thead> 
			<th>student</th> 
			<th>course</th>	
		</thead> 
		<tbody> 
			{{#each takes}}
			<tr> 
				<td>{{name}}</td>
				<td>{{course}}</td>
			</tr> 
			{{/each}}
				
				
		</tbody> 
	</table> 
</div>

</body>
</html>